body {
    background: url(background.webp) no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed;
}

.StarBeatContent {
    max-width: 85%;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto
}

a, a:hover {
    color: unset;
    text-decoration: unset;
}

.StarBeatTypo {
    font-size: 17px;
    line-height: 1.8;
    word-wrap: break-word;
    position: relative;
    padding: 16px;
}
.StarBeatTypo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}